body {
  margin: 0;
  font-family: 'Comfortaa';
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
}

h1 {
  font-family: 'Comfortaa';
  font-weight: 200;
  font-size: xx-large;
}

h2 {
  font-family: 'Comfortaa';
  font-weight: 200;
  font-size: x-large;
}

h3 {
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: large;
}

h4 {
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: medium;
}

h5 {
  font-family: 'Comfortaa';
  font-weight: normal;
}

h6 {
  font-family: 'Comfortaa';
  font-weight: normal;
}

p {
  font-family: 'Comfortaa';
  font-weight: normal;
}

.buttontext {
  font-family: 'Comfortaa';
  font-weight: bold;
}

.caption {
  font-family: 'Comfortaa';
  font-weight: lighter;
}

.overline {
  font-family: 'Comfortaa';
  font-weight: lighter;
}

span {
  font-family: 'Comfortaa';
}

