:root {
  --primary-color: #4fc3f7;
  --primary-light-color: #8bf6ff;
  --primary-dark-color: #0093c4;
  --secondary-color: #9575cd;
  --secondary-light-color: #c7a4ff;
  --secondary-dark-color: #65499c;
  --text-on-primary-color: black;
  --text-on-primary-light-color: black;
  --text-on-primary-dark-color: white;
  --text-on-secondary-color: black;
  --text-on-secondary-light-color: black;
  --text-on-secondary-dark-color: white;
}

body {
  font-family: 'Comfortaa';
  color: var(--text-on-primary-color);
}

h1 {
  font-family: 'Comfortaa';
  font-weight: 200;
  font-size: xx-large;
}

h2 {
  font-family: 'Comfortaa';
  font-weight: 200;
  font-size: x-large;
}

h3 {
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: large;
}

h4 {
  font-family: 'Comfortaa';
  font-weight: normal;
  font-size: medium;
}

h5 {
  font-family: 'Comfortaa';
  font-weight: normal;
}

h6 {
  font-family: 'Comfortaa';
  font-weight: normal;
}

p {
  font-family: 'Comfortaa';
  font-weight: normal;
  text-transform: uppercase !important;
}

.buttontext {
  font-family: 'Comfortaa';
  font-weight: bold;
}

.caption {
  font-family: 'Comfortaa';
  font-weight: lighter;
}

.overline {
  font-family: 'Comfortaa';
  font-weight: lighter;
}

span {
  font-family: 'Comfortaa';
}

.rounded-button {
  border-radius: 2rem;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: black;
}

#mainNav .navbar-toggler {
  background-color: var(--text-on-primary-color);
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: var(--text-on-primary-dark-color);
}

#mainNav .navbar-brand {
  color: var(--text-on-primary-color);
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
}

